.benefits-head {
  background: linear-gradient(rgba(0, 0, 0, 1), transparent);
  padding: 3rem;
  min-height: 20vh;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    color: #38b9bc;
    padding: 1rem;
  }
}

.cards {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 30vh;
  align-items: center;
  flex-wrap: wrap;
  img {
    height: 300px;
  }
}

.card {
  flex: 1 1 30rem;
  min-height: 20vh;
  min-width: 15vw;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1),
    0px 15px 15px rgba(255, 255, 255, 0.055);
  text-align: center;
  background: rgb(31, 31, 31);
  transition: 250ms all ease-in-out;
  border-radius: 2rem;
  cursor: pointer;
  img {
    max-width: 15%;
    margin: 2rem;
    height: 3rem;
  }
  .card-icon {
    background: linear-gradient(right, #38d39f, #38a4d3);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0 0;
  }
  p,
  h4 {
    padding: 1rem;
  }
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.1),
    0px 20px 25px rgba(255, 255, 255, 0.1);
}
