#contact {
  min-height: 70vh;
  background: linear-gradient(rgba(1, 1, 1, 0.5), transparent),
    url(/img/mountains.png);
  background-size: cover;
  background-position: cetner;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  h2,
  p {
    padding: 1rem;
  }
  h1 {
    color: #38b9bc;
    padding: 1rem;
  }
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.5);
  min-height: 30vh;
  width: 60%;
  color: white;
  border-radius: 1rem;
  flex-wrap: wrap;
  bottom: 2rem;
}

.form-head {
  text-align: center;
  padding: 4rem;
  h1,
  h2 {
    line-height: 3.5rem;
  }
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  background: #38b9bc;
  color: white;
  border-radius: 0 0 1rem 1rem;
  font-size: 2.9rem;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.form-wrapper button:hover {
  background: $background-color;
}

.form-wrapper input {
  padding: 1rem 3rem;
}
