/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 100;
  background-color: black;
  color: white;
}

body {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Thin.ttf);
  font-weight: 100;
  line-height: 3rem;
}

h1 {
  font-size: $header1;
  font-weight: 100;
}
li,
button,
label,
input,
a,
p {
  font-size: $text;
  font-weight: 100;
}
h2 {
  font-size: $header2;
  font-weight: 100;
}
h3 {
  font-size: $header3;
  font-weight: 100;
}
h4,
h5 {
  font-size: $header4;
  font-weight: 100;
}

ul {
  list-style: none;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: $font-color;
  font-weight: 100;
}

/*

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  color: white;
  border-radius: 1rem;
  font-size: 2.9rem;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #25364b;
}
*/
