.hero {
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(/img/speed.png);
  @include flex(center, center, row);
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-texts {
  @include flex(center, center, column);
  margin: 3rem;
  padding: 5rem;
  line-height: 5rem;
}

.hero button {
  margin: 3rem;
}

/*

.hero-images {
  object-fit: cover;
  flex: 1 1 auto;
  margin-left: 3rem;
}

#right-hand {
  animation: writing 1.2s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes writing {
  from {
    transform: rotatex(0deg);
    transform: rotatez(0deg);
  }
  to {
    transform: rotatex(-20deg);
    transform: rotatez(10deg);
  }
}
 
*/
