.hero {
  min-height: 70vh;
  width: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
  @include flex(center, center, row);
  flex-wrap: wrap;
}

.hero-texts {
  @include flex(center, center, column);
  padding: 2rem 2rem;
  line-height: 5rem;
  flex: 1 1 40rem;
}
.hero-images {
  object-fit: cover;
  flex: 1 1 40rem;
}
.hero button {
  margin: 3rem;
}

#right-hand {
  animation: writing 1.2s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes writing {
  from {
    transform: rotatex(0deg);
    transform: rotatez(0deg);
  }
  to {
    transform: rotatex(-20deg);
    transform: rotatez(10deg);
  }
}
