/* Intro */

.intro {
  min-height: 45vh;
  @include flex(center, center, row);
  flex-wrap: nowrap;
  h1 {
    color: #38b9bc;
    display: inline-block;
  }
  h3 {
    padding: 2rem 0rem;
  }
  p {
    color: $font-color;
  }
}

.intro-text {
  flex: 2 1 auto;
  margin: 8.5rem;
  text-align: left;
}

.intro-img {
  flex: 1 1 auto;
  object-fit: cover;
}

.intro-social {
  margin-top: 4rem;
  button {
    padding: 0.1rem 1.8rem 0.9rem 2rem;
    background: #38b9bc;
    color: white;
    border-radius: 1rem;
    font-size: 2.9rem;
    border: none;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
  button:hover {
    background: $background-color;
  }
  img {
    height: 1.8rem;
    width: 2rem;
  }
}

.burger {
  display: none;
}

/* Animation 

#play-button {
  animation: play-button 1.8s ease-in-out;
}
#scrub {
  animation: scrub 1s ease-in-out;
  animation-delay: 1.8s;
}



@keyframes play-button {
  from {
    transform: scalex(0.8);
  }
  to {
    transform: scalex(1);
  }
}
@keyframes scrub {
  from {
    transform: scalex(1);
  }
  to {
    transform: scalex(1.2);
  }
}

*/
