/* Intro */

.intro {
  min-height: 90vh;
  width: 90%;
  margin: 0 0 0 auto;
  @include flex(center, center, row);
  flex-wrap: wrap;
  overflow: hidden;
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    color: #38b9bc;
    display: inline-block;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $font-color;
  }
}

.intro-text {
  flex: 1 1 40rem;
}

.intro-img {
  flex: 1 1 40rem;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 4), transparent);
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}
