@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: black;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  color: white;
  border-radius: 1rem;
  font-size: 2.9rem;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #25364b;
}

/* Intro */
.intro {
  min-height: 70vh;
  width: 90%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  color: #38b9bc;
  display: inline-block;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
}

.intro p {
  padding-top: 2rem;
  color: #ffffff;
}

.intro-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem;
}

.intro-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 5rem;
}

.burger {
  display: none;
}

.blog-introduction {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto;
}

.blog-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  margin: 5%;
}

.blog-card {
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1), 0px 20px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1), 0px 20px 20px rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  position: relative;
  min-width: 50rem;
  min-height: 40rem;
  margin: 1.5rem;
  -webkit-transition: 250ms all ease-in-out;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.blog-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.1), 0px 20px 25px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.1), 0px 20px 25px rgba(255, 255, 255, 0.1);
}

.banner-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 14rem;
  width: 100rem;
}

.blog-card-body {
  margin: 15rem 1rem 1rem 1rem;
}

.blog-hashtag {
  font-size: 2rem;
  font-weight: 500;
}

.blog-title {
  line-height: 3rem;
  margin: 3rem 0 3rem;
}

/* Parent 

.blog-layout {
  display: grid;
  min-height: 100vh;
  margin: 5%;
  justify-items: center;
  flex-wrap: wrap;
  grid-template-columns: 125rem 40rem;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-areas:
    "card1 about"
    "card2 about"
    "card3 .";
}

*/
/* Individual cards 

.blog-card1 {
  background: rgb(188, 218, 388);
  grid-area: card1;
}

.blog-card2 {
  background: rgb(182, 218, 133);
  grid-area: card2;
}
.blog-card3 {
  background: rgb(110, 119, 131);
  grid-area: card3;
}
.about {
  background: rgb(181, 201, 192);
  grid-area: about;
  justify-self: start;
}

.blog-images {
  background-color: #aaa;
  display: flex;
  margin-right: 4rem;
  padding: 10rem;
}
*/
footer {
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  color: white;
  min-height: 5vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.hero {
  min-height: 70vh;
  width: 90%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem;
  line-height: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.hero-images {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.hero button {
  margin: 3rem;
}

#right-hand {
  -webkit-animation: writing 1.2s ease-in-out infinite alternate;
          animation: writing 1.2s ease-in-out infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

@-webkit-keyframes writing {
  from {
    -webkit-transform: rotatex(0deg);
            transform: rotatex(0deg);
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  to {
    -webkit-transform: rotatex(-20deg);
            transform: rotatex(-20deg);
    -webkit-transform: rotatez(10deg);
            transform: rotatez(10deg);
  }
}

@keyframes writing {
  from {
    -webkit-transform: rotatex(0deg);
            transform: rotatex(0deg);
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  to {
    -webkit-transform: rotatex(-20deg);
            transform: rotatex(-20deg);
    -webkit-transform: rotatez(10deg);
            transform: rotatez(10deg);
  }
}

.tools {
  min-height: 95vh;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tools h2,
h3 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 3rem;
}

.main-head {
  margin: 0 0 0 auto;
  -webkit-box-shadow: 0px 10px 10px rgba(90, 90, 90, 0.4);
          box-shadow: 0px 10px 10px rgba(90, 90, 90, 0.4);
  z-index: 10;
  position: relative;
}

/* Nav */
nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.active {
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.system-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 4rem;
  color: white;
}

.system-head h3 {
  padding: 2rem;
}

.cards {
  width: 90%;
  min-height: 70vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  -webkit-box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1), 0px 20px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1), 0px 20px 20px rgba(255, 255, 255, 0.1);
  text-align: center;
  background: #1f1f1f;
  -webkit-transition: 250ms all ease-in-out;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card img {
  max-width: 15%;
  margin: 2rem;
}

.card p,
.card h4 {
  padding: 3rem;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.1), 0px 20px 25px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.1), 0px 20px 25px rgba(255, 255, 255, 0.1);
}

.card-icon {
  height: 115px;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
}

#contact {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url(/img/mountains.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(/img/mountains.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.5);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

@media screen and (max-width: 1256px) {
  /* Burger Thing */
  .burger {
    position: relative;
    display: block;
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #154353;
    margin: 0.5rem 0rem;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: 2.5rem;
    text-decoration: underline;
  }
  .nav-links {
    background: #154353;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-open {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
  html {
    font-size: 53%;
  }
  nav {
    width: 100%;
  }
  .intro {
    width: 100%;
    padding: 2rem 5rem;
  }
  .intro-img {
    text-align: center;
    margin: 0rem;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
  }
  .main-head {
    width: 100%;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    margin-top: 2rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-img {
    text-align: center;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */